# Week 2
# Python Tutorial

Good source for learning Python: [Link](py4e.com)

## Example Programs

In [ ]:
print('Hello World')

In [ ]:
# Print a sentence: The area is: ***
# The area represents the area of a square with length 1.5

print("The area is:", 1.5 * 1.5)
# print(2 / 2)

In [ ]:
# Calculate the Body Mass Index (BMI) of a person whose height is 1.73 (m) and weight is 70.5 (kg).
# BMI = weight / height ** 2
height = 1.73 # assign 1.73 to variable named height
weight = 70.5 # assign 70.5 to variable named weight
BMI = weight / height ** 2 # -> the square of height
print("BMI:", BMI)

### Variables

In [ ]:
type(height)

In [ ]:
a = 10
print(type(a))

In [ ]:
# Variable types:
# float
# int
# str
# boolean
str1 = "Monday"
print("Type of str1:", type(str1))
boolean1 = True # or False: the word should be capitalized 
print("Type of boolean1:", type(boolean1))

In [ ]:
# Type casting
print(str(a))
print(float(a))

In [ ]:
# Arithmetics:
a = a + 1
a = a - 5
a = a * 123
a = a / 24

In [ ]:
# integer division in Python may give a floating-point result
b = 13
ans = b / 3
print(ans)

In [ ]:
# floor division 
ans = b // 3
print(ans)

In [ ]:
# Modulo operator
remainder = b % 3
print(remainder)

In [ ]:
# Check if a is even or odd
a = 10
print(a % 2)

a = 11
print(a % 2)

In [ ]:
# Exponentiation operator
power = 5 ** 3 # 3rd power of 5
print(power)

squared_root = 5 ** 0.5
print(squared_root)

In [ ]:
squared_root ** 2

In [ ]:
# scientific notation
# assign 1 billion to variable x
# x = 1000000000
x = 1e9 # 1e9 represents 1.0 * (10 ** 9)
print(x)
y = 1.2e-14 # represents 1.2 * (10 ** -14) = 0.00000000000012
print(y)

In [1]:
5 - (5 ** 0.5) ** 2
# -8.881784197001252e-16 
# = -8.8817.. * 10 ** (-16)
# = -8.8817.. * 0.0000000000000001
# = -0.0000000000000008817...
# It is a small error due to rounding

-8.881784197001252e-16

In [ ]:
# Mathematics operations
import math # import package math

In [ ]:
# the square root
print(math.sqrt(2))

In [ ]:
# trigonometric functions
print(math.sin(0)) # cos, tan, arcsin, ....
print(math.cos(0))

In [ ]:
# log
print(math.log(10)) # by default the log function use natural number e=2.718... as the base
print(math.log(8, 2)) # the second argument is the base

In [ ]:
# pi
print(math.pi)

**Exercise 1**: given variables a, b, and c, implement the quadratic formula for ax^2 + bx + c = 0.

Formula:
<img src="https://www.gstatic.com/education/formulas/images_long_sheet/en/quadratic_formula.svg">

In [ ]:
a = 1
b = 5
c = 4

# Implement the quadratic formula to find two solutions x1 and x2
x1 = (-b + math.sqrt(b ** 2 - 4 * a * c)) / (2 * a)
x2 = (-b - (b ** 2 - 4 * a *c) ** 0.5) / (2 * a)
print(x1, x2)

### If-Else Branches

In [ ]:
# Comparisons: >, <, >=, <=, ==, !=
# Logical operators: and, or, not

age = 23
drinking_age = 21
if age >= drinking_age:
    print("You are old enough to buy liquor.")
else:
    print("You are not old enough to buy liquor.")  # with indentation: statement belongs to else branch
print("End.") # without indentation, statment is separate from the previous if-else statement.

In [ ]:
SAT_score = 1400
other_evaluation = 7.9
if SAT_score > 1200 and not other_evaluation <= 8.0:
    print("The student will have an offer.")
else:
    print("The student will not have an offer.")
    
# Python uses and, or, not instead of &&, ||, !

## Exercise 2
Given a person's weight (kg) and height (m), calculate the BMI and indicate whether the person is underweight, healthy, or overweight.

BMI = weight / height ** 2.

Healthy BMI: 18.5â€”24.9

In [ ]:
height = 1.73 
weight = 70.5

# in this case, the program should indicate the BMI is healthy.
BMI = weight / height ** 2

# if BMI < 18.5:
#     print("You are underweight.")
# elif BMI > 24.9: # elif means "else if"
#     print("You are overweight.")
# else:
#     print("Your weight is healthy.")

if BMI >= 18.5 and BMI <= 24.9:
    print("healthy")

if BMI < 18.5:
    print("underweight")
    
if BMI > 24.9:
    print("overweight")

### For Loops

In [3]:
# loops:
# in java: for (i=0; condition; update i)
# in python: for var in list:
for letter in ['B', 'A', 'C', 'D', 'E']:
    print(letter)
print(letter) # THis line will only be executed when the loop ends

B
A
C
D
E
E

In [4]:
for i in range(5, 12): # it contains integers from 0 (inclusive) to 10 (exclusive)
    print(i)

5
6
7
8
9
10
11

In [15]:
# use multiple loop index in a for loop
for i, j in zip(range(10), range(10,20)):
    print("i:", i, end=", ")
    print("j:", j)

i: 0, j: 10
i: 1, j: 11
i: 2, j: 12
i: 3, j: 13
i: 4, j: 14
i: 5, j: 15
i: 6, j: 16
i: 7, j: 17
i: 8, j: 18
i: 9, j: 19

In [6]:
for i in range(0, 10, 2): # the last argument determines step size
    print(i)

0
2
4
6
8

## Exercise 3
Calculate the sum of the first 100 integers 1, ..., 100.

In [18]:
sum_of_vals = 0 

for val in range(1, 101):
#     print(val)
    sum_of_vals += val # this means sum = sum + val
    
print("Sum of 1 to 100:", sum_of_vals)

Sum of 1 to 100: 5050

In [20]:
sum(range(1, 101))

5050

## Data Structures for Multiple Values

## Lists (Similar to Java arrays)

In [23]:
values = [1, 3, 5, 7, 9]

In [25]:
# Print the list
print(values)
# Extract a value from the list
print(values[0])  # gives 1
print(values[1])  # gives 3
print(values[4])

[1, 3, 5, 7, 9]
1
3
9

In [26]:
# Lists supports negative index
print(values[-1])  # gives the last value in the list
print(values[-2])  # gives the second-to-last value

9
7

In [ ]:
values[10] # gives an IndexError

In [29]:
# List slicing
print(values[0:3])  # Extracts the first 3 values
print(values[:3])   # has the same effect

[1, 3, 5]
[1, 3, 5]

In [35]:
# A slice of list creates a new copy of the values
names = ['Alice', 'Bob', 'Charle', 'David', 'Edward']
sub_names = names[1:4]

names[1] = 'Brian'
print(names)
print(sub_names)

['Alice', 'Brian', 'Charle', 'David', 'Edward']
['Bob', 'Charle', 'David']

In [36]:
print(values[1:4])  # Extracts the middle 3 values
print(values[1:-1])

[3, 5, 7]
[3, 5, 7]

In [37]:
print(values[1:5])  # Extracts all values starting from the second value
print(values[1:])

[3, 5, 7, 9]
[3, 5, 7, 9]

In [39]:
# A list can contain values of different types
list1 = [123, 0.357, "Wednesday", True, False, [1, 2, 3]]

In [40]:
print(list1[2])

Wednesday

In [43]:
print(list1[-1][1])

2

In [46]:
# Useful methods
# length of a list
print(len(list1))
# append a value to a list
list1.append(4)
print(list1)
# extract and remove the last value of a list
val = list1.pop()
print(val)
# print(list1)
# find the index of a value
ind = list1.index("Wednesday")
print(ind)

7
[123, 0.357, 'Wednesday', True, False, [1, 2, 3], 4, 4]
4
2

In [47]:
# Looping through a list
names = ["Alice", "Bob", "Clare"]
for name in names:
    print(name)

Alice
Bob
Clare

In [48]:
# Looping with index
for idx, name in enumerate(names):
    print(str(idx) + "  " + name)

0  Alice
1  Bob
2  Clare

In [49]:
# list comprehension: transform a list without a for loop
scores = [60, 70, 90, 85]
# add 5 to each score
new_scores = []
for score in scores:
    new_score = score + 5
    new_scores.append(new_score)
print(new_scores)

[65, 75, 95, 90]

In [50]:
# Alternatively, use list comprehension can do this in one statement
new_scores = [ val+5 for val in scores ] # [ expression + where the values come from ]
print(new_scores)

[65, 75, 95, 90]

In [51]:
# What if I want to increase everyone's score by 10%?
curved_scores = [ score * 1.1 for score in scores]
print(curved_scores)

[66.0, 77.0, 99.00000000000001, 93.50000000000001]

# Exercise
Give a list `ary = [1, 3, 5, 7, 11]`, create a new list `ary2` whose values are twice the values in ary.

In [52]:
ary = [1, 3, 5, 7, 11]
ary2 = [ val * 2 for val in ary]
print(ary2)

[2, 6, 10, 14, 22]

## Sets

In [ ]:
set1 = {1, 2, 3, 4}
print(set1)

In [53]:
# A set cannot contain repeated values
set2 = {1, 2, 2, 3, 3, 3}
print(set2)

{1, 2, 3}

In [54]:
# convert between lists and sets
list2 = [1, 2, 3, 4]
set2 = set(list2)
print(set2)

{1, 2, 3, 4}

In [57]:
list3 = [1, 2, 2, 3, 3, 4, 4, 5]
set3 = set(list3)
print(set3)

list3_updated = list(set3)
print(list3_updated)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

# Tuples

In [58]:
# Tuples are immutable
tuple1 = (1, 2, 3)
list1 = [1, 2, 3]

list1[0] = 100
print(list1)

[100, 2, 3]

In [60]:
print(tuple1[0])
tuple1[0] = 100 # Tuples cannot be modified

1

TypeError: 'tuple' object does not support item assignment

## Dictionary (similar to Java Map)

In [62]:
scores = {
    "Alice": 85,
    "Bob": 87,
    "Clare": 88
}

In [63]:
# Extract values from dictionary
print(scores["Alice"])

85

In [64]:
# Check if an item is in the dictionary
print("David" in scores)

False

## Python Functions

In [65]:
def get_sum(list1):
    """
    Returns the sum of list1.
    """
    sum = 0
    for val in list1:
        sum += val
    return sum

In [67]:
??get_sum # This shows the source code of the function

In [68]:
list2 = [1, 2, 3, 4]
print(get_sum(list2))

10

In [69]:
# A Python function can return more than one item
def get_sum_and_average(values):
    """
    Returns the sum and the average of a list.
    """
    sum_val = get_sum(values)
    avg = sum_val / len(values)
    return sum_val, avg

In [70]:
list_sum, list_avg = get_sum_and_average(list2)
print(list_sum, list_avg)

10 2.5

In [72]:
# Use _ as a placeholder if you only need the second returned value.
_, avg = get_sum_and_average(list2)
print(avg)

(10, 2.5)

In [78]:
# A function parameter can have a default value.
def add(x, y=30, z=50):
    
    return x + y + z

In [80]:
print(add(100, 200))
print(add(100))
# What if I want y to take its default value and z to take a new value?
# Example: 100 + 30 + 500
print(add(100, z=500))

350
180
630

## Classes

In [81]:
class Person():
    
    def __init__(self, name, age): # This is the name of class constructor. There are two underscores before
                                    # and after the word "init"
        self.name = name
        self.age = age
        
    def print_info(self):
        print(self.name + " | " + str(self.age))

In [83]:
me = Person("Liang", 34)

In [84]:
me.print_info()

Liang | 34

## String Manipulation

In [ ]:
sentence = "Winter is coming."
sentence2 = "Help! " * 3
sentence3 = sentence + " " + sentence2
# print(sentence2)
# print(sentence3)

In [ ]:
# Use [ ] to access characters in a string
sentence[10]

In [ ]:
# length
len(sentence)

In [ ]:
# Count the occurance of a substring
print(sentence.count("i"))

In [ ]:
# Find the index of a substring
print(sentence.find("i"))
# print(sentence.find("i", 5))
# print(sentence.find("u"))

# print(sentence.index("i"))
# print(sentence.index("i", 5))
# print(sentence.index("u"))

In [ ]:
# slicing
sentence[:6]

In [ ]:
# Change to upper or lower case
sentence.upper()

In [ ]:
# splitting
words = sentence.split(" ")
print(words)

In [ ]:
# Remove unwanted characters at the start and the end.
word = "      Alex    "
word.strip()

In [ ]:
[word.strip(".") for word in words]

In [ ]:
# Joining
" ".join(words)

In [ ]:
# formatted strings
answer = 1 / 3
print("Answer is:", answer)
print("Answer is: %.2f" % answer)